@font-face {
  font-family: "Fira Mono";
  src: url("../ttf/FiraMono-Regular.ttf");
}

* {
  font-family: "Fira Mono", monospace;
}

/* ID */
#body {
  flex-direction: column;
  padding: 0;
  width: calc(100vw - var());
  height: 100vh;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  color: #414141;
  background-color: #f5f5f5;
}

#nav img {
  height: 2.4rem;
}

#main {
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  background-color: #fff;
  margin-top: 4rem;
}

#spinner {
  width: 21ch;
  height: 100%;
  color: #414141;
}

#listas, #editar_lista {
  max-width: 720px;
}

.mytable {
  flex-direction: column;
  border: 1px solid #f5f5f5;
  padding: 0 !important;
}

.mytable div:first-child {
  color: #f5f5f5;
  background-color: #414141;
  font-size: 2rem;
}

.mytable .input-group {
  padding: 1rem;
}

.mytable span {
  font-weight: 700;
}

.mytable img {
  height: 1rem;
  margin-right: 0.375rem;
}

.mytable td button img {
  margin: 0;
}

.mytable td button:hover {
  background-color: #157347;
  border-color: #146c43;
}

#footer {
  justify-content: center;
  color: #414141;
  background-color: #f5f5f5;
}
/* ID End */


/* Class */
.myflex {
  width: 100%;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Class End */


/* Tag */
p {
  margin: 0;
}

img {
  object-fit: contain;
}

td {
  vertical-align: middle;
}
/* Tag End */
