#body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

#nav {
  justify-content: space-between;
  color: #414141;
  background-color: #f5f5f5;
}

#spinner {
  width: 21ch;
  justify-content: space-between;
}

#main {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

#footer {
  justify-content: center;
  color: white;
  background-color: #414141;
}

.myflex {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
}

#tableselect {
  max-width: 900px;
  margin-bottom: 1rem;
}

#tableview {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

p {
  margin: 0;
}

img {
  object-fit: contain;
}
